
<nav class="navbar z-0 fixed-bottom bg-danger-subtle">
    <div class="container-fluid d-flex align-item-center justify-content-center">
        <h5 class="mt-2">
        <span class="text-danger">Coded with</span>
        <span><img src="img/app/cardio.png" width="20px"></span>
        <span class="text-danger">@</span>
        <span class="">VVIET, Mysuru</span>
        </h5> 
    </div>  
</nav>